* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spidey1: #F2B705;
    --spidey2: #F29F05;
    --spidey3: #A60303;
    --spidey4: #400101;
    --spidey5: #081226;
}

@font-face {
    font-family: minhaFonte;
    src: url(assets/The\ Amazing\ Spider-Man.ttf);
}

.logo img {
    width: 75px;
    height: 75px;
}

header .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--spidey5);
}

header .menu .itens-menu {
    display: flex;
    justify-content: space-around;
    width: 280px;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: var(--spidey1);
    font-family: minhaFonte;
    font-size: 1.5rem;
}

a:hover {
    cursor: pointer;
    transition: all .7s ease-in;
    color: var(--spidey3);
}

.wrapper {
    background-color: var(--spidey4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 76.8vh;
}

.texto h1 {
    font-family: minhaFonte;
    font-size: 5rem;
    color: var(--spidey2);
    padding: 0 3rem;
}

.texto h1:hover {
    color: var(--spidey3);
    transition: all 1s ease-out;
    cursor: pointer;
}

.texto p {
    color: var(--spidey2);
    text-align: justify;
    margin-left: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-indent: 1rem;
}

img {
    width: 75%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--spidey5);
}

footer p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--spidey1);
    padding: 7px;
}

@media (max-width: 800px) {
    .logo img {
        margin-bottom: 1rem;
    }

    header .menu {
        flex-direction: column;
        justify-items: center;
        margin: 0;
        padding: 0;
    }
    
    .wrapper {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .texto h1 {
        font-size: 2.5rem;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
    }

    .texto p {
        font: 1rem;
        margin-left: initial;
        padding: 0 1rem;
    }

    .imagem {
        display: flex;
        justify-content: center;
    }
        
    footer {
        clear: both;
    }
}